.app {
  display: flex;

  &__first-block {
    display: inline-block;
    width: 40%;
    height: 100vh;
  }

  &__show-button {
    display: block;
    margin: 10px auto;
  }

  &__search-input {
    width: 400px;
    margin: 10px auto;
  }

  &__title {
    display: block;
    width: max-content;
    margin: 10px auto;
  }

  &__list-item {
    display: flex;
    width: 500px;
    margin: 10px auto;
    justify-content: space-between;
  }

  &__item-title {
    display: inline;
    font-size: 16px;
    margin: auto 0;
  }

  &__second-block {
    display: inline-block;
    width: 60%;
    height: 100%;
  }

  &__add-new {
    border-left: 1px solid rgb(236, 227, 227);
    border-bottom: 1px solid rgb(236, 227, 227);
  }

  &__form {
    width: 500px;
    margin: 0 auto;
  }

  &__input {
    margin-top: 20px;
  }

  &__error {
    margin: 10px;
  }

  &__button {
    margin: 20px 0;
  }

  &__select {
    margin: 0 auto;
    border: 1px solid rgb(236, 227, 227);
  }

  &__item-p {
    display: block;
    word-wrap: break-word;
    width: 500px;
    margin: 20px auto;
  }

  &__similar {
    display: block;
    width: 500px;
    margin: 0 auto;
  }

  &__not-found {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
}
